*.pyc
*.meta
experiment2/data/cifar-10-batches-py/data_batch_1
experiment2/data/cifar-10-batches-py/data_batch_2
experiment2/data/cifar-10-batches-py/data_batch_3
experiment2/data/cifar-10-batches-py/data_batch_4
experiment2/data/cifar-10-batches-py/data_batch_5
experiment2/data/cifar-10-batches-py/readme.html
experiment2/data/cifar-10-batches-py/test_batch
experiment2/data/cifar-10-python.tar.gz
experiment2/output/training_curve.png
experiment2/output/sample_images.png
experiment2/output/prediction_examples.png
experiment2/output/model.pth
experiment2/output/confusion_matrix_norm.png
